* {
  margin: 0;
  padding: 0;
}

/* Стиль для заголовка */
header {
  display: flex; /* Горизонтальне розташування */
  align-items: center; /* Вирівнювання по вертикалі */
  justify-content: space-between; /* Простір між заголовком і зображенням */
  background-color: #333; /* Темно-сірий фон */
  color: #f4f4f4; /* Світлий текст */
  padding: 10px 20px; /* Відступи всередині заголовка */
  border-bottom: 2px solid #444; /* Тонка сіра рамка внизу */
}

/* Стиль для тексту заголовка */
.header-logo {
  font-size: 1.5rem; /* Розмір тексту */
  font-weight: bold; /* Жирний текст */
  margin: 0; /* Забираємо зовнішні відступи */
  color: #f4f4f4; /* Світлий текст */
  font-family: "Poppins", sans-serif;
}

/* Стиль для зображення */
.header-img {
  width: 40px; /* Фіксована ширина */
  height: 40px; /* Фіксована висота */
  border-radius: 50%; /* Кругла форма зображення */
  border: 2px solid #555; /* Сіра рамка */
  object-fit: cover; /* Забезпечує пропорційне масштабування */
  background-color: #444; /* Фон для зображення (на випадок прозорості) */
  padding: 2px; /* Відступ між рамкою та зображенням */
}
